<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Spring2023 DDE</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Employee Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container">
    <div class="row">
        <h1> Employees List Spring </h1>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3"> Add Employee</a>
        </div>
        <div class="col-lg-2">
            <a th:href="@{/employees/download}" class="btn btn-primary btn-sm mb-3"> Download Employee List</a>
        </div>
        <div class="col-lg-6">
            <form method="POST" enctype="multipart/form-data" action="/employees/upload">
                <table>
                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                    <tr><td></td><td><input type="submit" value="Upload Employee List" class="btn btn-primary btn-sm mb-3"/></td></tr>
                </table>
            </form>
<!--            <form method="POST" enctype="multipart/form-data" action="/employees/upload">-->
<!--                File to upload: <input type="file" name="file">-->
<!--                <button type="submit" class="btn btn-primary btn-sm mb-3">-->
<!--                    Upload Employee List-->
<!--                </button>-->
<!--            </form>-->
        </div>
        <div class="col-lg-6">
            <form method="POST" action="/employees/send_email">
                Send email to: <input type="email" name="email">
                <button type="submit" class="btn btn-primary btn-sm mb-3">
                    Send Employee List
                </button>
            </form>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Name</th>
            <th> Age</th>
            <th> Gender</th>
            <th> Salary</th>
            <th> Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>
            <td th:switch="${employee.pol}">
                <p th:case="${true}">MALE</p>
                <p th:case="*">FEMALE</p>
            </td>
            <td th:text="${employee.salary}"></td>
            <td>
                <a th:href="@{/employees/edit/{id}(id=${employee.id})}"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/employees/{id}(id=${employee.id})}"
                   class="btn btn-danger" onclick="return confirmation()">Delete</a>
                <a th:href="@{/employees/info/{id}(id=${employee.id})}"
                   class="btn btn-primary">Info</a>
                <a th:href="@{/employees/phones/{id}(id=${employee.id})}"
                   class="btn btn-primary">Phones</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    // For confirm deleting
    function confirmation() {
        return confirm('Are you sure you want to do this?');
    }
</script>
</html>