<!DOCTYPE html>
<html lang="uk">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring2023 DDE</title>
</head>
<body>
<h1>Spring Demo Project 2023</h1>
<form action="logout" method="GET">
    <input type=submit th:value="Logout">
</form>
<h2>PhD Associate Professor Dmytro Dvukhhlavov</h2>
<h2>SEMIT, CSIT, NTU "KhPI"</h2>
<br>
<br>
<br>
<form action="employees" method="GET">
    <input type=submit th:value="Employees">
</form>
<form action="teams" method="GET">
    <input type=submit th:value="Teams">
</form>

</body>
</html>