<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Spring2023</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Employee Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Employee Management</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
     <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Employee INN</h1>
                <!-- IF INN Absent -->
                <div th:if="${(inn.id == -1) and (editmode == false)}">
                    <div class="box-footer">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <form th:action="@{/employees/info/{id}/edit(id=${empl.id})}">
                                        <button type="submit" class = "btn btn-primary">
                                            Add INN
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ELSE -->
                <div th:if="${(inn.id > 0) or ((inn.id == -1) and (editmode == true))}">
                    <div th:if="${editmode == false}" class="box-footer">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <form th:action="@{/employees/info/{id}/edit(id=${empl.id})}">
                                        <button type="submit" class = "btn btn-primary">
                                            Update
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form th:action="@{/employees/info/{id}(id=${empl.id})}" method="POST">
                                        <button type="submit" class = "btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/employees/info/{id}/confirm(id=${empl.id})}" th:object="${inn}" method="POST">
                            <div class="form-group">
                                <label>INN Number:</label>
                                <input required
                                       type="text"
                                       name="number"
                                       th:field="*{number}"
                                       class="form-control"
                                       placeholder="Input surname an English"
                                       pattern="[23][0-9]{9}" title="10 numbers, first - 2 or 3"
                                />
                            </div>

                            <div class="form-group">
                                <label>Date of issue INN:</label>
                                <input required
                                       type="date"
                                       name="dateIssued"
                                       th:field="*{dateIssued}"
                                       class="form-control"
                                       placeholder="Date of issue the INN"
                                />
                            </div>

                            <div class="form-group">
                                <label>Whom issued:</label>
                                <input required
                                       type="text"
                                       name="issued"
                                       th:field="*{issued}"
                                       class="form-control"
                                       placeholder="Whom issued the INN like in document"
                                       title="Whom issued the INN"
                                />
                            </div>
                            <div th:if="${editmode == true }" class="box-footer">
                                <input hidden name="editmode" value="false">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
     </div>
</div>
</body>
</html>
